body {

}

h1 {
    margin-top: 0
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app-content {
    margin-left: auto;
    margin-right: auto;
}

.app-footer {
    padding-bottom: 1em;
}
table, th, td {
    border: 1px solid #000000;
    /*border: 1px solid #ffffff;*/
    border-collapse: collapse;
}
th, td {
    background-color: #ffffff;
    /*background-color: #96D4D4;
    border-radius: 15px;*/
}